@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .duration-600 {
    transition-duration: 600ms;
  }
}

::-webkit-scrollbar {
  display: none;
}